@import url("./fonts.css");
@import url("./config.css");

:root {
  --primary_color: hsl(30, 54%, 90%);
  --secondary_color: #fff7fb;
  --third_color: #7c4f42;
  --fourth_color: #743d55;
  --white_color: hsl(0, 0%, 100%);
  --grey_color: hsl(0, 0%, 50%);
  --black_color: hsl(0, 0%, 7%);
}

body {
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: var(--primary_color);
  flex-direction: column;
}

div {
  margin: 15px 0px;
}

main {
  background-color: var(--white_color);
  display: flex;
  flex-direction: column;
  max-width: 45%;
  padding: 1.5rem;
  border-radius: 1rem;
  margin: 75px;
}

h1,
h2 {
  font-family: "YoungSerif", sans-serif;
}

.header {
  margin-bottom: 1.5rem;
}

li {
  margin: 5px 0px;
}

div > ul,
div > ol {
  list-style-position: inside;
  margin-left: 10px;
  padding-left: 0;
}

.color-pink {
  color: var(--fourth_color);
}

.preparation {
  background-color: var(--secondary_color);
  border-radius: 15px;
  padding: 20px 30px;
}

.preparation .header {
  font-family: "Outfit", sans-serif;
}

.preparation ul {
  padding: 0px 20px;
  margin: 16px auto 0px auto;
  color: var(--third_color);
}

.preparation li span {
  padding-left: 18px;
  color: black;
}

.preparation li::marker {
  color: var(--third_color);
}

.outside-header {
  color: var(--third_color);
}

.content {
  color: var(--third_color);
}

.content li::marker {
  color: var(--third_color);
}

.content li {
  margin: 10px 0px;
  color: black;
}

.content table {
  width: 100%;
  border-collapse: collapse;
}

.content td {
  border-bottom: 1px solid black;
  text-align: left;
  margin-left: 10px;
  padding: 12px 12px 12px 16px;
}

.content td:nth-child(2) {
    font-weight: bold;
}

.content tr:last-child td {
  border-bottom: none; /* Removes the bottom border for the last row to prevent a double line */
}
